In [1]:
import pandas as pd
import requests
from config import data as userdata
import os
import time
import numpy as np

# 使用 API 取得實時資料

In [61]:
def getRealTimeData(city='bj', datatype='airquality', day='2018-04-01',force=False):
    datadir = './realTimeData'
    if not os.path.isdir(datadir):
        os.mkdir(datadir)
    url = 'https://biendata.com/competition/' + datatype + '/' + city +  '/' + day + '-0/' + day + '-23/2k0d1d8'
    filename = datadir + "/" + city + '_' + datatype + '_' + day + '.csv'
    if not force and os.path.exists(filename):
        return filename
    responses= requests.get(url)
    if responses.text[0] != '{':
        with open(filename,'w') as f:
            f.write(responses.text)
        return filename
    else:
        print('error:\n',responses.text)
        return ''

In [3]:
name = getRealTimeData(day='2018-04-13')
print(name)
bjdata = pd.read_csv(name)
bjdata.head(5)

./realTimeData/bj_airquality_2018-04-13.csv

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
0,2957584,dongsi_aq,2018-04-13 00:00:00,44.0,120.0,74.0,1.7,20.0,32.0
1,2957585,tiantan_aq,2018-04-13 00:00:00,47.0,107.0,76.0,1.8,13.0,16.0
2,2957586,guanyuan_aq,2018-04-13 00:00:00,41.0,110.0,73.0,1.6,27.0,26.0
3,2957587,wanshouxigong_aq,2018-04-13 00:00:00,38.0,128.0,69.0,1.8,13.0,21.0
4,2957588,aotizhongxin_aq,2018-04-13 00:00:00,41.0,120.0,78.0,1.7,25.0,24.0

# 取得之前資料

In [33]:
previousBjData = pd.read_csv('./beijing_17_18_aq.csv')
previousLdData = pd.read_csv('./London_historical_aqi_forecast_stations_20180331.csv')

In [56]:
def getPreviousData(thisday, nday=2, city='bj'):
    formatDate = "%Y-%m-%d"
    thisday = time.mktime(time.strptime(thisday, formatDate))

    alldays = list()
    if city == 'bj':
        formatDate = '%Y-%m-%d %H:%M:%S'
        pData = previousBjData
        column = ['test_id','time','PM2.5','PM10','O3']
    elif city == 'ld':
        formatDate = '%Y/%m/%d %H:%M'
        pData = previousLdData
        column = ['test_id','time','PM2.5','PM10']

    for i in range(24*nday):
        tmp = thisday + i*60*60
        if city == 'ld':
            tmp = time.localtime(tmp)
            days = '%d/%d/%d %d:00' % (tmp.tm_year, tmp.tm_mon, tmp.tm_mday, tmp.tm_hour)
        else:
            days = time.strftime(formatDate, time.localtime(tmp))
        alldays.append(days)
    
    #print(alldays)
    
    return pData.loc[pData['time'].isin(alldays),column]

In [105]:
tmp = getPreviousData('2017-04-20',city='bj')
tmp.head(60)

               test_id                 time  PM2.5   PM10     O3
2431   aotizhongxin_aq  2017-04-20 02:00:00  131.0    NaN   26.0
2432   aotizhongxin_aq  2017-04-20 03:00:00  121.0    NaN   53.0
2433   aotizhongxin_aq  2017-04-20 04:00:00   33.0   73.0   77.0
2434   aotizhongxin_aq  2017-04-20 05:00:00   43.0   80.0   94.0
2435   aotizhongxin_aq  2017-04-20 06:00:00   41.0  135.0   98.0
2436   aotizhongxin_aq  2017-04-20 07:00:00   45.0  157.0   99.0
2437   aotizhongxin_aq  2017-04-20 11:00:00   16.0   36.0   81.0
2438   aotizhongxin_aq  2017-04-20 12:00:00   11.0   39.0   70.0
2439   aotizhongxin_aq  2017-04-20 13:00:00   12.0   56.0   61.0
2440   aotizhongxin_aq  2017-04-20 14:00:00    8.0   45.0   50.0
2441   aotizhongxin_aq  2017-04-20 18:00:00   10.0   51.0   52.0
2442   aotizhongxin_aq  2017-04-20 23:00:00   14.0   53.0   34.0
2443   aotizhongxin_aq  2017-04-21 01:00:00   57.0    NaN   67.0
2444   aotizhongxin_aq  2017-04-21 02:00:00   36.0   62.0   78.0
2445   aotizhongxin_aq  2017-04-21 06:00:00   39.0   87.0  104.0
2446   aotizhongxin_aq  2017-04-21 09:00:00   16.0   22.0  100.0
2447   aotizhongxin_aq  2017-04-21 10:00:00   41.0   80.0   96.0
2448   aotizhongxin_aq  2017-04-21 13:00:00   28.0   69.0   75.0
2449   aotizhongxin_aq  2017-04-21 14:00:00   27.0   78.0   74.0
2450   aotizhongxin_aq  2017-04-21 15:00:00   31.0   80.0   78.0
2451   aotizhongxin_aq  2017-04-21 18:00:00   31.0   78.0   26.0
2452   aotizhongxin_aq  2017-04-21 21:00:00   24.0   80.0    2.0
2453   aotizhongxin_aq  2017-04-21 22:00:00   32.0   77.0    2.0
11317      badaling_aq  2017-04-20 02:00:00   18.0  128.0   67.0
11318      badaling_aq  2017-04-20 03:00:00   20.0  120.0   76.0
11319      badaling_aq  2017-04-20 04:00:00   14.0   87.0   96.0
11320      badaling_aq  2017-04-20 05:00:00   14.0   92.0  109.0
11321      badaling_aq  2017-04-20 06:00:00   18.0  106.0  102.0
11322      badaling_aq  2017-04-20 07:00:00    3.0   95.0  106.0
11323      badaling_aq  2017-04-20 11:00:00    8.0   38.0  104.0
11324      badaling_aq  2017-04-20 12:00:00    8.0   86.0   98.0
11325      badaling_aq  2017-04-20 13:00:00    6.0   38.0   92.0
11326      badaling_aq  2017-04-20 14:00:00    NaN    NaN   92.0
11327      badaling_aq  2017-04-20 18:00:00   28.0   64.0   21.0
11328      badaling_aq  2017-04-20 23:00:00   17.0   49.0   38.0
11329      badaling_aq  2017-04-21 01:00:00   15.0   62.0   56.0
11330      badaling_aq  2017-04-21 02:00:00   12.0   29.0   77.0
11331      badaling_aq  2017-04-21 06:00:00   10.0    NaN  105.0
11332      badaling_aq  2017-04-21 09:00:00    NaN    6.0  106.0
11333      badaling_aq  2017-04-21 10:00:00    8.0   38.0   99.0
11334      badaling_aq  2017-04-21 13:00:00   13.0   85.0   36.0
11335      badaling_aq  2017-04-21 14:00:00   12.0   34.0   42.0
11336      badaling_aq  2017-04-21 15:00:00   24.0   42.0   30.0
11337      badaling_aq  2017-04-21 18:00:00   21.0   60.0   14.0
11338      badaling_aq  2017-04-21 21:00:00   25.0   58.0    2.0
11339      badaling_aq  2017-04-21 22:00:00   26.0   71.0    9.0
20203    beibuxinqu_aq  2017-04-20 02:00:00   77.0   88.0   13.0
20204    beibuxinqu_aq  2017-04-20 03:00:00   48.0    NaN   37.0
20205    beibuxinqu_aq  2017-04-20 04:00:00   12.0    NaN   82.0
20206    beibuxinqu_aq  2017-04-20 05:00:00   19.0   26.0   96.0
20207    beibuxinqu_aq  2017-04-20 06:00:00   14.0   60.0   99.0
20208    beibuxinqu_aq  2017-04-20 07:00:00   17.0   85.0   99.0
20209    beibuxinqu_aq  2017-04-20 11:00:00    5.0   38.0   77.0
20210    beibuxinqu_aq  2017-04-20 12:00:00   16.0    NaN   61.0
20211    beibuxinqu_aq  2017-04-20 13:00:00   12.0   37.0   57.0
20212    beibuxinqu_aq  2017-04-20 14:00:00   10.0   44.0   67.0
20213    beibuxinqu_aq  2017-04-20 18:00:00   12.0   66.0   59.0
20214    beibuxinqu_aq  2017-04-20 23:00:00   17.0   80.0   24.0
20215    beibuxinqu_aq  2017-04-21 01:00:00   27.0   40.0   72.0
20216    beibuxinqu_aq  2017-04-21 02:00:00   15.0   48.0   78.0

# 輸出答案

要預測未來兩天 48小時 的 PM2.5 PM10 O3 

> 我想 4/11 送答案就是預測 4/12 ~ 4/13 的空氣品質

總共有 48 個點的數值需要預測

每個點要有 48 個小時的資料

站點包含 北京與倫敦 的點

id 格式 站點名#hours

In [37]:
sample = pd.read_csv('sample_submission.csv')
print(sample.shape)

sample_id = sample['test_id']
stations = list()
for id in sample_id.iloc[:]:
    [station, hours] = id.split('#')
    if station not in stations:
        stations.append(station)
print(len(stations), ' stations')

(2304, 4)
48  stations

In [38]:
realdata = pd.read_csv(getRealTimeData(day='2018-04-13'))
realdata = realdata['station_id']
bj_stations = list()
for station in realdata.iloc[:]:
    if station not in bj_stations:
        bj_stations.append(station)

print(len(bj_stations), ' bj stations')
#print(bj_stations)

realdata = pd.read_csv(getRealTimeData(city='ld',day='2018-04-13'))
realdata = realdata['station_id']
ld_stations = list()
for station in realdata.iloc[:]:
    if station not in ld_stations:
        ld_stations.append(station)

print(len(ld_stations), ' ld stations')
#print(ld_stations)

35  bj stations
19  ld stations

In [124]:
def injectAnswer(sample, fromDate, answer, formatDate = "%Y-%m-%d %H:%M:%S", column=['station_id', 'time', 'PM25_Concentration', 'PM10_Concentration', 'O3_Concentration']):
    #formatDate = "%Y-%m-%d %H:%M:%S"
    fromDate = time.mktime(time.strptime(fromDate, formatDate))
    [rows, cols] = answer.shape
    for i in range(rows):
        data = answer.iloc[i]
        thisDate = time.mktime(time.strptime(data[column[1]],formatDate))
        thisDate = int((thisDate - fromDate) / (60*60))
        thisid = data[column[0]] + '#' + str(thisDate)
        sample.loc[sample['test_id'] == thisid, 'PM2.5'] = data[column[2]]
        sample.loc[sample['test_id'] == thisid, 'PM10'] = data[column[3]]
        if len(column) > 4:
            sample.loc[sample['test_id'] == thisid, 'O3'] = data[column[4]]

def makeSubmissions(fromDate, force=False):
    sample = pd.read_csv('sample_submission.csv')
    sample.loc[:, 'PM2.5'] = np.nan
    sample.loc[:, 'PM10'] = np.nan
    sample.loc[:, 'O3'] = np.nan
    
    formatDate = "%Y-%m-%d %H:%M:%S"
    fromDate_t = time.strptime(fromDate,formatDate)
    
    firstDate = time.strftime("%Y-%m-%d", fromDate_t)
    fromDate_t = time.localtime(time.mktime(fromDate_t) + (24*60*60))
    secondDate = time.strftime("%Y-%m-%d", fromDate_t)
    
    realdata = pd.read_csv(getRealTimeData(city='bj',day=firstDate, force=force))
    injectAnswer(sample, fromDate, realdata)

    realdata = pd.read_csv(getRealTimeData(city='bj',day=secondDate, force=force))
    injectAnswer(sample, fromDate, realdata)

    realdata = pd.read_csv(getRealTimeData(city='ld',day=firstDate, force=force))
    injectAnswer(sample, fromDate, realdata)

    realdata = pd.read_csv(getRealTimeData(city='ld',day=secondDate, force=force))
    injectAnswer(sample, fromDate, realdata)
        
    return sample


def makePreviousData(today=''):
    sample = pd.read_csv('sample_submission.csv')
    sample.loc[:, 'PM2.5'] = np.nan
    sample.loc[:, 'PM10'] = np.nan
    sample.loc[:, 'O3'] = np.nan
    
    if today == '':
        today = time.gmtime(time.time()+24*60*60)
        #today.tm_year -= 1
        #today = time.strftime("%Y-%m-%d", today)
        today_bj = '%d-%d-%d' % (today.tm_year-1, today.tm_mon, today.tm_mday)
        today_ld = '%d/%d/%d' % (today.tm_year-1, today.tm_mon, today.tm_mday)
        today = '%d-%d-%d' % (today.tm_year-1, today.tm_mon, today.tm_mday)
    
    #print(today)
    previousdata = getPreviousData(today, city='bj')
    injectAnswer(sample, today_bj + ' 00:00:00', previousdata, column=previousdata.columns)
    
    previousdata = getPreviousData(today, city='ld')
    injectAnswer(sample, today_ld + ' 00:00', previousdata, formatDate = '%Y/%m/%d %H:%M', column=previousdata.columns)
        
    return sample, today
        
def generateAnswer(answer, method='', desc=''):
    # remove negative
    answer.loc[answer['PM2.5'] <= 0, 'PM2.5'] = np.nan
    answer.loc[answer['PM10'] <= 0, 'PM10'] = np.nan
    answer.loc[answer['O3'] <= 0, 'O3'] = np.nan
    
    if method == 'mean':
        answer = answer.fillna(answer.mean())
    elif method == 'pad':
        answer = answer.fillna(method=method)
    
    todayDate = time.localtime(time.time())
    todayDate = time.strftime("%m%d", todayDate)
    
    answer.to_csv('./answer.csv', index=False, header=True)
    
    datadir = './answer'
    if not os.path.isdir(datadir):
        os.mkdir(datadir)
    
    filename = datadir + '/answer' + todayDate + method
    if len(desc) > 0:
        filename = filename + '_' +desc
    filename = filename + '.csv'
    answer.to_csv(filename, index=False, header=True)
    
    return answer,filename

In [133]:
fromDate = '2018-04-19 00:00:00'

answer_origin = makeSubmissions(fromDate, force=True)
answer_origin.head()

       test_id  PM2.5   PM10     O3
0  dongsi_aq#0  143.0  204.0   67.0
1  dongsi_aq#1  158.0  238.0   43.0
2  dongsi_aq#2  160.0  264.0   49.0
3  dongsi_aq#3  155.0  235.0   83.0
4  dongsi_aq#4  142.0  208.0  125.0

In [134]:
answer,filename = generateAnswer(answer_origin, method='pad',desc='1920')
print(filename)
answer.head()

./answer/answer0420pad_1920.csv

       test_id  PM2.5   PM10     O3
0  dongsi_aq#0  143.0  204.0   67.0
1  dongsi_aq#1  158.0  238.0   43.0
2  dongsi_aq#2  160.0  264.0   49.0
3  dongsi_aq#3  155.0  235.0   83.0
4  dongsi_aq#4  142.0  208.0  125.0

In [128]:
[previous, pToday] = makePreviousData()
print(pToday)
previous.head()

2017-4-21

       test_id  PM2.5  PM10    O3
0  dongsi_aq#0    NaN   NaN   NaN
1  dongsi_aq#1   25.0  46.0  79.0
2  dongsi_aq#2   23.0   NaN  89.0
3  dongsi_aq#3    NaN   NaN   NaN
4  dongsi_aq#4    NaN   NaN   NaN

In [129]:
previous = previous.combine_first(answer_origin)

previous.head()

       test_id  PM2.5   PM10     O3
0  dongsi_aq#0   75.0  194.0   38.0
1  dongsi_aq#1   25.0   46.0   79.0
2  dongsi_aq#2   23.0  210.0   89.0
3  dongsi_aq#3   94.0  214.0   77.0
4  dongsi_aq#4  102.0  223.0  107.0

In [130]:
answer, filename = generateAnswer(previous, method='pad', desc='lastyear0420-0421 combine 0418-0419')
print(filename)
answer.head()

./answer/answer0420pad_lastyear0420-0421 combine 0418-0419.csv

       test_id  PM2.5   PM10     O3
0  dongsi_aq#0   75.0  194.0   38.0
1  dongsi_aq#1   25.0   46.0   79.0
2  dongsi_aq#2   23.0  210.0   89.0
3  dongsi_aq#3   94.0  214.0   77.0
4  dongsi_aq#4  102.0  223.0  107.0

# 送出答案

In [135]:
from api_submit import sendSubmission

print(sendSubmission(answerfile=filename, name='answer.csv', desc=filename))

{"success": true}

# 思考策略

先考慮如何建立模型

輸入是歷史資料, 輸出則是兩天的未來預測

考慮到訓練參數出來

把一年的歷史資料 分成訓練與測試

# SMAPE

計分方式

In [114]:
import math

def SMAPE(actual=list(), forecast=list()):
    if len(actual)!=len(forecast):
        return 2
    
    total = 0
    total_len = 0
    for i in actual.index:
        if math.isnan(actual[i]) or math.isnan(forecast[i]):
            continue
        tmp = (abs(forecast[i]) + abs(actual[i]))/2
        if tmp != 0:
            tmp = abs(forecast[i] - actual[i]) / tmp
        total += tmp
        total_len += 1
    
    #print(total,',',total_len)
    
    if total_len == 0:
        answer = 0
    else:
        answer = total / total_len
        
    return answer

def smape(actual, predicted):
    dividend= np.abs(np.array(actual) - np.array(predicted))
    denominator = np.abs(np.array(actual)) + np.abs(np.array(predicted))
    
    return 2 * np.mean(np.divide(dividend, denominator, out=np.zeros_like(dividend), where=denominator!=0, casting='unsafe'))

In [56]:
SMAPE([1,2,3],[1,1,1])

0.5555555555555555

In [69]:
smape([1.0,2.0,3.0], [1.0,1.0,1.0])

0.55555555555555547

In [78]:
actualData = makeSubmissions('2018-04-15 00:00:00',force=True)

In [110]:
actualData2 = actualData.dropna(axis=0,how='any')

(1165, 4)

In [116]:
actualData2 = actualData.dropna(axis=0,how='any')
forecastData = pd.read_csv('./answer/answer0414mean.csv')
forecastData = forecastData.fillna(0)
forecastData = forecastData.loc[actualData2.index,:]

a1 = SMAPE(actualData2['PM2.5'].loc[:],forecastData['PM2.5'].loc[:])
a2 = SMAPE(actualData2['PM10'].loc[:],forecastData['PM10'].loc[:])
a3 = SMAPE(actualData2['O3'].loc[:],forecastData['O3'].loc[:])

print('PM2.5 :',a1)
print('PM10 :',a2)
print('O3 :',a3)

PM2.5 : 0.693784236971
PM10 : 0.758121816806
O3 : 0.715826464322